:root[data-theme="dark"] {
    --text-main: #E0E0E0;
    --text-secondary: #808080;

    --background-main: #101010;
    --background-secondary: #202020;

    --scrollbar-thumb: #404040;

    --form-input-bg: #c0c0c0;
    --form-bg: var(--text-main);
    --form-text: var(--background-main);

    --sun-switcher-bg: #ffd371;
    --light-switch-img: url("/assets/sun-color.png");
}
:root[data-theme="light"] {
    --text-main: #202020;
    --text-secondary: #808080;

    --background-main: #ddd;
    --background-secondary: #eee;

    --scrollbar-thumb: #BBB;

    --form-input-bg: #ccc;
    --form-bg: var(--background-secondary);
    --form-text: var(--text-main);

    --sun-switcher-bg: #444cb4;
    --light-switch-img: url("/assets/moon-color.png");
}
:root[data-theme="flicker1"] {
    --text-main: #808080;
    --text-secondary: #808080;

    --background-main: #707070;
    --background-secondary: #606060;

    --sun-switcher-bg: #33ac79;
    --light-switch-img: url("/assets/mid-color.png");
}
:root[data-theme="flicker2"] {
    --text-main: #606060;
    --text-secondary: #606060;

    --background-main: #505050;
    --background-secondary: #404040;

    --sun-switcher-bg: #33ac79;
    --light-switch-img: url("/assets/mid-color.png");
}

:root {
    --default-transition: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: var(--default-transition);
    font-family: Lexend, sans-serif;
}
p, h1, h2, h3, h4, h5, h6 {
    color: var(--text-main)
}
label {
    color: var(--background-main)
}
body {
    min-height: 100vh;
    color:var(--text-main);
    background-color: var(--background-main);
    /*background-image: linear-gradient(var(--background-main), var(--background-secondary));*/
}
button {
    cursor:pointer;
    border:none;
}

/*=========================================================================*/
/*                               Scrollbar                                 */
::-webkit-scrollbar {
    width:15px;
  }
::-webkit-scrollbar-track {
    background: var(--background-secondary);
  }
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);

  } 
  ::-webkit-scrollbar-thumb:horizontal {
    transform: scaleX(0.1); /* Adjust the scale value to change the width */
    transform-origin: center; /* Center the scaled thumb */
  } 
::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  


/*=========================================================================*/
/*                            HEADER CONTENT                               */
/*=========================================================================*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
}

/*=========================================================================*/
/*                                 MENU                                    */

.menu{
    /*position:absolute;*/
    top: 0;
    left: 0;
    width: 60%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu #logoName{
    color:var(--text-main);
    text-decoration: none;
    font-size: 28px;
    font-weight:300;
    letter-spacing: 1px;;
}
.menu ul, .menu ul li, #switcher1, #switcher, #switcher button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li{
    list-style: none;
}


/*=========================================================================*/
/*                           Language buttons                              */
#langNav {
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 10;
}

#langNav li {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

#langNav .active {
    opacity: 1;
}

#langNav a {
    display: flex;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
}

#langNav img {
    opacity: 0.4;
    width:100%;
}

#langNav a:hover {
    transform: scale(1.1);
}

#langNav a:hover img {
    opacity: 1;
}

#langNav a:active {
    transform: scale(0.9);
}

#langNav a:active img {
    opacity: 0.75;
}

/*=========================================================================*/
/*                             Menu buttons                                */
.pageNav a{
    color:var(--text-secondary);
    font-size:18px;
    font-weight:thin;
    text-decoration: none;
    font-weight: 300;
    margin: 0 5px;
    padding: 5px 15px;
    border-radius:20px;
}

.pageNav a:hover, 
.pageNav a.active{
    color: var(--text-main);
    font-size: 20px;
    font-weight: 500;
}

/*=========================================================================*/
/*                            Light switcher                               */
#switcher {
    position:fixed;
    right: 15px;
    z-index: 10;
}

#switcher{
    height:50px;
    width:50px;
}
#switcher button{
    height:90%;
    width:90%;
    background:var(--sun-switcher-bg);
    border-radius: 50%;
}
#switcher img{
    height:60%;
    width:60%;
    content: var(--light-switch-img);
}
#switcher button:hover{
    height:100%;
    width:100%;
}
#switcher button:hover img{
    opacity:80%;
}
#switcher button:active{
    background:var(--text-main);
    height:80%;
    width:80%;
}
#switcher button:active img{
    opacity:75%;
    content: url(/assets/mid-color.png);
}

/*=========================================================================*/
/*                             MAIN CONTENT                                */
/*=========================================================================*/
main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
/*=========================================================================*/
/*                             Intro Section                               */
#introDiv {
    display:flex;
    flex-direction: column;
    height:80vh;
    width:1000px;
    justify-content: center;
    padding:40px;
}
#introTitle {
    padding-bottom:20px;
    font-weight:350;
    font-size: 32px;
    width:550px;
}
#introDiv p {
    font-weight: 200;
    font-size: 20px;
    color: var(--text-secondary);
}
#introDiv ul {
    display:flex;
    padding-top:20px;
}
#introDiv li {
    list-style: none;
    padding-right:20px;
}
#introDiv img {
    width:50px;
}

/*=========================================================================*/
/*                            Contact section                               */
/*=========================================================================*/

.contactSection {
    display:flex;
    width:100%;
}
#leftFoot{
    width:50%;
    height:100vh;
    padding-left: 50px;
    padding-bottom: 50px;
    display:flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}
.contactSection div p, .contactSection label{
    font-size: 24px;
    color: var(--form-text);
}
#contact2{
    padding-left:40px;
    font-weight: 900;
    font-size: 50px;
    margin-bottom: 30px;
}
#contactFormDiv {
    padding: 40px;
    border-radius: var(--default-border-radius);
    background-color: var(--form-bg);
    width:500px;
}
#contactFormDiv form {
    display:flex;
    flex-direction: column;
}
.contactSection label {
    margin-top:10px;
    font-weight:500;
}
.contactSection input:not([type="submit"]){
    font-size: 20px;
    border: none;
    height: 50px;
    background-color: var(--form-input-bg);
    color: var(--text-secondary);
    padding-left:15px;
    margin-top:10px;
    border-radius: 2px;
}
.contactSection input:not(:placeholder-shown), .contactSection input:focus{
    background-color: white;
    color: var(--background-main);
    outline:none;
    box-shadow: inset 0px 0px 5px var(--text-secondary);
}
#messageInput {
    height: 10em;
}
/* submit button ---------------------------------------------------------- */
#submit {
    font-size: 20px;
    border: none;
    background-color: var(--text-secondary);
    color: var(--form-text);
    border-radius:20px;
    width:50%;
    height:40px;
    margin-top: 40px;
    cursor: pointer;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    transition: .3s;
}
#submit:hover {
    background-color: var(--form-text);
    color: var(--form-bg);
}
#submit:active {
    background-color: white;
    color: var(--form-text);
    box-shadow: inset 0px 0px 5px var(--text-secondary);
}
/*=========================================================================*/
/*                               Right foot                                */
#rightFoot {
    position: relative;
    width:50%;
}
#contactImage {
    position:absolute;
    right:0;
    bottom:0;
    width:130%;
    max-height:90vh;
    pointer-events: none;
}
#rackImage {
    position:absolute;
    right:0;
    bottom:0;
    width:45%;
    z-index: -1;
    max-height: 100vh;
    pointer-events: none;
}
